<ng-container *ngIf="oszlopok && products">
    <!-- {{products|json}} -->
    <!-- <div class="row">
        <div class="col-4">
            Keresés:
            <input [(ngModel)]="keresendo" type="text" class="form-control">
        </div>
    </div> -->
    
    <div class="row">
        <div *ngFor="let oszlop of oszlopok" class="col my-3 fw-bold">
            <span (click)="rendez(oszlop.key,oszlop.type)">{{oszlop.text}} </span> 
           
            <ng-container *ngIf="mezo==oszlop.key">    
                <span><bi *ngIf="irany==1" name="arrow-up"></bi></span>
                <span><bi *ngIf="irany==2" name="arrow-down"></bi></span>
            </ng-container>   
    
        </div>
        <div class="col">
            {{messages.actionHeaders}}
        </div>
    </div>
    
    <div class="row my-2">
        <div *ngFor="let oszlop of oszlopok" class="col ">
            <ng-container *ngIf="oszlop.type=='plain'; else input">
                <span>{{oszlop.text}} </span> 
            </ng-container>
            <ng-template #input>
                <input [(ngModel)]="newProduct[oszlop.key]" [type]="oszlop.type" class="form-control">
            </ng-template>   
         </div>
         <div class="col">
            <button (click)="addProduct()" type="button" class="btn btn-primary">{{messages.btnAdd}}</button>
         </div>
    </div>
    
    <div *ngFor="let termek of (products|search:keresendo)|sort:mezo:irany" class="row my-1">
        <div *ngFor="let oszlop of oszlopok" class="col">
            <ng-container *ngIf="oszlop.type=='plain'; else input">
                <span>{{termek[oszlop.key]}} </span> 
            </ng-container>
            <ng-template #input>
                <input [(ngModel)]="termek[oszlop.key]" [type]="oszlop.type" class="form-control">
            </ng-template>   
         </div>
         <div class="col">
            <button (click)="updateProduct(termek)" type="button" class="btn btn-primary">{{messages.btnEdit}}</button>
            <button (click)="deleteProduct(termek)" type="button" class="ms-2 btn btn-primary">{{messages.btnDelete}}</button>
         </div>
    </div>
    </ng-container>